*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    width: 100%;
    overflow-x:hidden;
}

.rect{
    margin-bottom: 7rem;
    padding: 2rem;
    font-size: 15rem;
    width: 30rem;
    background-color: rgb(59, 11, 85);
    border: 0;
    border-radius: 2rem;
    color: white;

}

.rect:nth-child(odd){
    position: relative;
    transform: translateX(400%);
    transition: all 0.4s ease;
}

.rect:nth-child(even){
    transform: translateX(-400%);
    transition: all 0.4s ease;
}

.rect.show{
    transform: translateX(0%);
}
/* 
.rect.init{
    transform: translateX(0%);
} */

div i {
    position: fixed;
    left: 5%;
    bottom: 10%;
    font-size: 4rem;
    cursor: pointer;
}
